@font-face {
  font-family: 'Netflix Sans';
  src: url('../fonts/netflix/NetflixSans-Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('../fonts/netflix/NetflixSans-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('../fonts/netflix/NetflixSans-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('../fonts/netflix/NetflixSans-Regular.otf') format('opentype');
  font-weight: normal;
}
